@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.study {
    width: 1440px;
    height: 1687px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

h2 {
    color: rgba(0, 0, 0, 0.81);
    font-family:' Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h1 {
    color: #FCC028;
    font-family:' Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.study-item {
    display: flex;
    align-items: center;
    gap: 74px;
    margin-top: 82px;
}

.study-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.study-info h3 {
    color: #FCC028;
    font-family:' Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.study-info h4 {
    color: rgba(0, 0, 0, 0.81);
    font-family:' Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.study-info p {
    width: 586px;
    color: rgba(0, 0, 0, 0.50);
    font-family:' Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.study button {
    display: flex;
    width: 157px;
    height: 50px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FCC028;
    color: #FCC028;
    font-family:' Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    margin-top: 30px;
}